<p>
  <%= content_tag(:label, l(:workforce_global_url)) %>
  <%= text_field_tag 'settings[url]', @settings["url"] %>
</p>
<p>
  <%= content_tag(:label, l(:workforce_global_email)) %>
  <%= text_field_tag 'settings[email]', @settings["email"] %>
</p>
