<p>
  <%= content_tag(:label, l(:workforce_global_domain)) %>
  <%= text_field_tag 'settings[domain]', @settings["domain"] %>
</p>
<p>
  <%= content_tag(:label, l(:workforce_global_email)) %>
  <%= text_field_tag 'settings[email]', @settings["email"] %>
</p>
